ALTER TABLE public.cursos ADD COLUMN IF NOT EXISTS destaque_vitrine BOOLEAN DEFAULT FALSE; CREATE TABLE IF NOT EXISTS public.materiais (id UUID PRIMARY KEY DEFAULT uuid_generate_v4(), titulo TEXT NOT NULL, descricao TEXT, url TEXT, thumb_url TEXT, destaque_vitrine BOOLEAN DEFAULT FALSE, created_at TIMESTAMPTZ DEFAULT NOW()); CREATE TABLE IF NOT EXISTS public.configuracoes (id UUID PRIMARY KEY DEFAULT uuid_generate_v4(), chave TEXT UNIQUE, valor JSONB);
